body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  font-family: oxygen;
  text-align: center;
  padding: 60px 150px 100px 150px;
}

h2{
  font-size: 20px;
}

.box{
  background-color: rgba(255,255,255,0.8);
  padding: 50px;
  margin: 60px;
}

hr{
    background-color:black;
    border: 0 none;
    color: black;
    height: 1px;
}

